/* portfolio.css */

/* Style for card text */

.h-100 {
    background-color: #fff !important; /* White background */
    color: #141414 !important; /* Default text color, typically dark for readability */
  }
.card-img-top {
  height: 100%;
  object-fit: cover; /* Use 'contain' if you don't want the image to be cropped */
}

.custom-width {
    width: 60%; /* or any other width */
  }
  
  /* Style for card title */
.card-title-black {
background-color: #1e1d1d;
color: #f8f4f4; /* Set text color to black */
padding: 1%;
/* Any additional styling for the title */
}

.btn:hover {
background-color: #575555; /* Dark gray background on hover for some visual feedback */
}

.article-text {
text-align: left;
margin: 10px;
}
  
  /* You might also want to add other portfolio-specific styles here */
  