.resume-container .card-header {
    background-color: #030303
}


.resume-text-left {
    text-align: left; /* Aligns text to the left for all child elements */
    background-color: #f5f5f5; /* Light grey; adjust the color as desired */
    color: #212529;
  }
  

.responsive-video {
    max-width: 650px; /* Maximum video width */
    width: 100%; /* Make width responsive */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}


/* Resume.css */

/* Apply dark theme to all cards */
.card {
    background-color: #333; /* Dark background for the card */
    color: #fff; /* Light text for readability */
    border: 1px solid #444; /* Border for the card */
  }
  
  .card-header {
    background-color: #222; /* Darker background for the header */
    border-bottom: 1px solid #444;
  }

  .card-body {
    padding: 0 !important; /* The !important flag ensures the override works, but use it judiciously */
  }

  .card-subtitle + .card-subtitle {
    margin-top: 0.5rem; /* Adjust the value as needed */
  }

  .card .card-subtitle {
    margin-left: 1rem; /* Adjust the value to align with the card title text */
  }

  .card .list-group {
    flex-grow: 1; /* Allow list group to fill available space */
    background-color: #ffffff; /* Ensure the background is white */
  }
  /* Bullets for list group items */
  .list-group-item {
    position: relative;
    padding-left: 2rem; /* Provide space for bullets */
  }
  
  .list-group-item::before {
    content: "•"; /* Unicode for bullet symbol */
    color: #272b31; /* Bullet color */
    font-size: 1.5em; /* Larger bullet size */
    position: absolute;
    left: 0.5rem; /* Position from the left */
    top: 50%;
    transform: translateY(-50%);
  }
  
  